{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{ PROJECT_NAME }}{% endblock %}

{% block content %}
    <script type="importmap">
        {
            "imports": {
                "Three": "{% static 'js/libs/Three.js' %}",
                "OrbitControls": "{% static 'js/libs/OrbitControls.js' %}",
                "SplineLoader": "{% static 'js/libs/SplineLoader.js' %}"
            }
        }
    </script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <body class="profile-page">
    </body>
{% endblock %}
