<!-- templates/index.html -->
{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{ PROJECT_NAME }}{% endblock %}

{% block content %}
      <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.138.0/build/three.module.js",
                "OBJLoader": "https://unpkg.com/three@0.138.0/examples/jsm/loaders/OBJLoader.js",
                "gsap": "https://cdn.skypack.dev/gsap",
                "ScrollTrigger": "https://cdn.skypack.dev/gsap/ScrollTrigger"
            }
        }
    </script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
   <body class="profile-page">
        <div id="scene-container"></div>
        <div class="content"></div>
    </body>
{% endblock %}
