{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{ PROJECT_NAME }}{% endblock %}

{% block content %}
    <script type="importmap">
        {
            "imports": {
                "Three": "{{ STATIC_URL }}js/libs/Three.js",
                "OrbitControls": "{{ STATIC_URL }}js/libs/OrbitControls.js",
                "SplineLoader": "{{ STATIC_URL }}js/libs/SplineLoader.js"
            }
        }
    </script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <body class="profile-page">
    </body>
{% endblock %}
