{% extends 'app/base.html' %}
{% load static %}

{% block title %}Informations{% endblock %}

{% block content %}
    <body class="profile-page">
    <div class="container">
        <div class="profile-sidebar">
            {% include 'app/profile_sidebar.html' %}
        </div>
        <div class="profile-page-content">
            <h1> Informations </h1>
            <p>Nom d'utilisateur: {{ username }}</p>
            <p>Email: {{ email }}</p>
        </div>

    </div>
    </body>
{% endblock %}