{% extends 'app/base.html' %}

{% block title %}{{ CREATE_VM_PAGE_TITLE }}{% endblock %}

{% block content %}
    <body class="profile-page">
    <div class="container">
        <div class="profile-sidebar">
            {% include 'app/profile_sidebar.html' %}
        </div>
        <div class="profile-page-content">
            <h1>{{ CREATE_VM_PAGE_TITLE }}</h1>
            <div class="create-vm">
                <div class="form-create-vm">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">{{ CREATE_VM_BUTTON }}</button>
                        </div>
                    </form>
                </div>
                <div class="templates-create-vm">
                    <h3>{{ TEMPLATE_LABEL }}</h3>
                    <p>{{ TEMPLATE_TEXT}}</p>
                </div>
            </div>
            {% if form.non_field_errors %}
                <div class="card-footer">
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    </body>
{% endblock %}