{% load custom_filters %}

<nav class="container sidebar offcanvas-start offcanvas-md" tabindex="-1" id="sidebar-example">
    <div class="offcanvas-body">
        <ul class="sidebar-nav">
            <li>
                <h6 class="sidebar-header">Compte</h6>
            </li>
            <li><hr class="sidebar-divider"></li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'profile/informations' %}active{% endif %}" href="{% url 'profile/informations' %}" aria-current="page">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'profile/securite' %}active{% endif %}" href="{% url 'profile/securite' %}">Sécurité</a>
            </li>
            <li class="mt-3">
                <h6 class="sidebar-header">Machines Virtuelles</h6>
            </li>
            <li><hr class="sidebar-divider"></li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liste</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Sidebar toggle -->
<button type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-example" class="btn btn-secondary d-md-none">
    <i class="fa-light fa-sidebar me-1"></i> Sidebar
</button>