{% load static %}

{% block content %}
<style>
body {
    margin: 0;
}
iframe {
    border: 0;
}
</style>
<iframe id="myIframe" allowfullscreen="true" src="http://{{ websocket_url }}/vnc.html?host={{ host }}&port={{ port }}&autoconnect=true&resize=scale" style="width:100vw; height:100vh;"></iframe>
<script>
window.addEventListener('beforeunload', function () {
    const payload = JSON.stringify({ port: {{ port }} });
    const result = navigator.sendBeacon('/release_port/', payload);
    console.log('Beacon sent:', result);
});
</script>
{% endblock %}
