{% extends 'app/base.html' %}
{% load static %}

{% block title %}{{ LIST_VM_PAGE_TITLE }}{% endblock %}

{% block content %}
    <body class="profile-page">
    <div class="container">
        <div class="profile-sidebar">
            {% include 'app/profile_sidebar.html' %}
        </div>
        <div class="profile-page-content">
            <h1>{{ LIST_VM_PAGE_TITLE }} <a data-bs-toggle="modal" data-bs-target="#vmInfoIcons">> <i class="fa-solid fa-circle-info"></i> </a></h1>
            <div class="modal fade" id="vmInfoIcons" tabindex="-1" aria-labelledby="vmInfoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="vmInfoModalLabel"> Icons Info </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p> <i class="fa-solid fa-check" style="color: #74c93b;"></i> Running </p>
                            <p> <i class="fa-solid fa-pause" style="color: #ffbb00;"></i> Paused </p>
                            <p> <i class="fa-solid fa-stop" style="color: #d30d0d;"></i> Stopped </p>
                            <p> <i class="fa-solid fa-burst" style="color: #cd13b4;"></i> Crashed </p>
                            <p> <i class="fa-solid fa-question" style="color: #185ed8;"></i> Unknown </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Fermer </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle sortable">
                    <thead>
                    <tr>
                        <th scope="col" style="width:10%"></th>
                        <th scope="col">{{ LIST_VM_OS_LABEL }}</th>
                        <th scope="col">{{ LIST_VM_NAME_LABEL }}</th>
                        <th scope="col">{{ LIST_VM_RAM_LABEL }}</th>
                        <th scope="col">{{ LIST_VM_CPU_LABEL }}</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider table-secondary">
                    {% if vms %}
                        {% for vm in vms %}
                            <tr class="vm" data-id="{{ vm.UUID }}">
                                <td>
                                    <div class="os-info">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid fa-gears"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><h6 class="dropdown-header">{{ vm.name }}</h6></li>
                                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#vmInfoModal{{ vm.UUID }}"> <i class="icon-action fa-solid fa-circle-info"></i> Info </a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item {% if vm.state == 'running' %}dropdown-item-disabled{% endif %}"> <i class="icon-action fa-solid fa-play"></i> Start </a></li>
                                                <li><a class="dropdown-item {% if vm.state != 'running' %}dropdown-item-disabled{% endif %}"> <i class="icon-action fa-solid fa-stop"></i> Stop </a></li>
                                                <li><a class="dropdown-item"> <i class="icon-action fa-solid fa-skull"></i> Kill </a></li>
                                                <li><a class="dropdown-item" href="{% url 'vm_view' vm_uuid=vm.UUID %}"> <i class="icon-action fa-solid fa-display"></i> Console View </a></li>
                                                <li><a class="dropdown-item"> <i class="icon-action fa-solid fa-rotate"></i> Restart </a></li>
                                                <li><a class="dropdown-item"> <i class="icon-action fa-solid fa-trash"></i> Delete </a></li>
                                            </ul>
                                        </div>
                                        <div class="vm-state">
                                            {% if vm.state == VM_STATE_RUNNING %}
                                                <i class="fa-solid fa-check" style="color: #74c93b;"></i>
                                            {% elif vm.state == VM_STATE_PAUSED %}
                                                <i class="fa-solid fa-pause" style="color: #ffbb00;"></i>
                                            {% elif vm.state == VM_STATE_SHUTDOWN or vm.state == VM_STATE_SHUTOFF or vm.state == VM_STATE_PMSUSPENDED %}
                                                <i class="fa-solid fa-stop" style="color: #d30d0d;"></i>
                                            {% elif vm.state == VM_STATE_CRASHED or vm.state == VM_STATE_BLOCKED %}
                                                <i class="fa-solid fa-burst" style="color: #cd13b4;"></i>
                                            {% elif vm.state == UNKNOWN %}
                                                <i class="fa-solid fa-question" style="color: #185ed8;"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="os-info">
                                        <img src="{{ vm.os_logo }}" alt="{{ vm.os }} logo" width="50" height="50">
                                        <p> {{ vm.os }} </p>
                                    </div>
                                </td>
                                <td>{{ vm.name }}</td>
                                <td>{{ vm.memory_gb }}</td>
                                <td>{{ vm.VCPU }}</td>
                            </tr>
                            <div class="modal fade" id="vmInfoModal{{ vm.UUID }}" tabindex="-1" aria-labelledby="vmInfoModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="vmInfoModalLabel"> {{ vm.name }} Info </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <pre>
                                                {{ vm }}
                                            </pre>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Fermer </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Aucune machine virtuelle trouvée.</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.1/beautify.min.js" integrity="sha512-kElKX79OYM/vf2AU+lF4Zsi3AnKds70Mc6fRBImpwQzdZNbju6SyeTBBOUe1N9q1P456v1F01HAsjjWZkXIS4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/vm_list.js' %}"></script>
    <script src="{% static 'js/sorttable.js' %}"></script>
    </body>
{% endblock %}