{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ CREATE_VM_PAGE_TITLE }}{% endblock %}

{% block content %}
    <body class="profile-page">
    <div class="container">
        <div class="profile-sidebar">
            {% include 'app/profile_sidebar.html' %}
        </div>
        <div class="profile-page-content">
            <h1>{{ CREATE_VM_PAGE_TITLE }}</h1>
            
            <div id="overlay" class="overlay blur-and-darken" style="display: none;"></div>

            <div id="loader" class="text-center" style="display: none;">
              <div class="spinner-border text-primary mt-3 mb-2" role="status" aria-hidden="true"></div>
              <p id="loader-text"></p>
            </div>

            <div class="create-vm">
                <div class="form-create-vm">
                    <form method="post" {% if form_disabled %}class="disabled-form"{% endif %}>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class_if_disabled:form_disabled }}
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary" {% if form_disabled %}disabled{% endif %}>{{ CREATE_VM_BUTTON }}</button>
                        </div>
                    </form>
                    {% if form_disabled %}
                        <div class="alert alert-warning mt-3">
                            <p class="m-0"> Pas de templates de machines virtuelles disponibles.</p>
                        </div>
                    {% endif %}
                </div>
                <div class="templates-create-vm">
                    <h3>{{ TEMPLATE_LABEL }}</h3>
                    <p>{{ TEMPLATE_TEXT}}</p>
                </div>
            </div>
            {% if form.non_field_errors %}
                <div class="card-footer">
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
    <script src="{% static 'js/new_vm.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
{% endblock %}
